<!DOCTYPE html>
<html>
<head>
  <title>Test App</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>Copyright © Test App 2023</p>
  </footer>
</body>
</html>
